{{- email_fiels.content -}}

<p><strong style="text-transform: uppercase;">{{- __( 'Order summary:', 'delileauxpapilles' ) -}}</strong></p>

<ul>
	<li>{{- __( 'Number of guests:', 'delileauxpapilles' )}} <strong>{{ post.menu_number -}}</strong></li>
	<li>{{- __( 'From', 'delileauxpapilles' ) }} <strong>{{- post.last_name }} {{ post.first_names -}}</strong></li>
	<li>{{- __( 'For', 'delileauxpapilles' ) }} <strong>{{- post.get_field( 'menu' ).names_first_names -}}</strong></li>
	<li>{{- __( 'Choice of menu:', 'delileauxpapilles' )}} <strong>{{- post.get_field( 'menu' ).type | map( type => type.label ) | join( ' ' )  -}}</strong></li>
	{{- post.get_field( 'menu' ).drinks ? '<li>' ~ __( 'Choice of drinks:', 'delileauxpapilles' ) ~ '<strong> ' ~ post.get_field( 'menu' ).drinks | map( drink => drink.label ) | join( ' / ' ) ~ '</strong></li>' -}}
	<li>{{- __( 'For a total amount of', 'delileauxpapilles' ) }} <strong>{{- post.total }} €</strong></li>
	{% if post.get_field( 'menu' ).message %}
		<li>
			{{- __( 'Personalized message', 'delileauxpapilles' ) -}}<br>
			{{- post.get_field( 'menu' ).message -}}
		</li>
	{% endif %}
	{% if post.get_field( 'message' ) %}
		<li>{{- __( 'Details', 'delileauxpapilles' ) -}}<br>{{- post.get_field( 'message' ) -}}</li>
	{% endif %}
</ul>

<p>Nous restons à votre entière disposition pour toute information complémentaire.</p>

<p>Merci pour votre confiance.</p>
<p>Au plaisir,</p>

<br>
<p>
	Toute l’équipe du restaurant <strong>De l’île aux papilles</strong><br>
	<a href="{{ site.link }}">{{ site.name }}</a><br>
	{{ phone_number }}
</p>
