{#

Footer

@package DLAP

#}

			<footer class="Site-footer">
				<div class="Site-container">
					<div class="row">
						<div class="col-12 col-md-3 margin-y-3 margin-y-md-0">
							<div class="Site-footer__column">
								<h3 class="Site-footer__title">{{- __( 'Access', 'ileauxpapilles' ) -}}</h3>
								<div class="Map">
									{% include 'partials/map.html.twig' %}
								</div>
							</div>
						</div>
						<div class="col-12 col-md-3 margin-y-3 margin-y-md-0">
							<div class="Site-footer__column">
								<h3 class="Site-footer__title">{{- __( 'Follow us!', 'ileauxpapilles' ) -}}</h3>
								<div
									class="fb-page"
									data-href="https://www.facebook.com/ileauxpapilles/"
									data-tabs="timeline"
									data-width="612"
									data-height="{{ 10 * 24 }}"
									data-small-header="true"
									data-adapt-container-width="true"
									data-hide-cover="false"
									data-show-facepile="false"
								><blockquote cite="https://www.facebook.com/ileauxpapilles/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ileauxpapilles/">De l&#039;île aux papilles</a></blockquote></div>
							</div>
						</div>
						<div class="col-12 col-md-3 margin-y-3 margin-y-md-0">
							<div class="Site-footer__column">{{- footer_primary -}}</div>
						</div>
						<div class="col-12 col-md-3 margin-y-3 margin-y-md-0">
							<div class="Site-footer__column">{{- footer_secondary -}}</div>
						</div>
					</div>
				</div>
				<div class="Site-container margin-top-md-3">
					<div class="row">
						<div class="col-12">
							<hr class="Site-footer__horizontal-line">
						</div>
					</div>
					<div class="row margin-top-3">
						<div class="col-12 col-sm-6">
							{% include 'components/menu.html.twig' with { items: menus.footer.items } %}
						</div>
						<div class="col-12 margin-top-3 margin-top-sm-0 col-sm-6 text-align-sm-right">
							<p class="Site-footer__copyright">
								Réalisé par <a href="http://inesa.fr/" target="_blank" rel="noopener"><strong>Inès A</strong></a> et <a href="https://19h47.fr/" target="_blank" rel="noopener"><strong>19h47</strong></a>
							</p>
						</div>
					</div>
				</div>
			</footer>
		</main>

		{{ wp_footer }}
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v6.0"></script>

    </body>
</html>
