{#

Header

@author     Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
@file       views/header.html.twig
@package    DLAP

#}

<!DOCTYPE html>
<!--[if IE 9]>
<html {{ html_class( 'ie9 no-js no-touch' ) }} {{ site.language_attributes }}>
<![endif]-->
<!--[if !(IE 9)]><!-->
<html {{ site.language_attributes }} {{ html_class( 'no-js no-touch' ) }}{{ 'front-page' == namespace and modal ? ' style="overflow: hidden; height: 100%;"' | raw }}>
<!--<![endif]-->

	<head>

		<meta charset="{{ site.charset }}">
		<link rel="profile" href="http://gmpg.org/xfn/11">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">

		{{ wp_head }}

		{# {% include 'components/gtag.html.twig' with { id: 'UA-153672608-1' } %} #}

    </head>


    <body class="{{ body_class }}{{ body_classes ? ( ' ' ~ body_classes | join( ' ' ) ) }}{{ 'front-page' == namespace and modal ? ' modal--is-open' }}">
		<div id="svg-sprite" class="d-none">{% include 'icons.svg' %}</div>

		{% include 'components/cursor.html.twig' %}

		<div id="fb-root"></div>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v12.0&appId=874856609858096&autoLogAppEvents=1" nonce="v6Uf8R4r"></script>

		<header class="Site-header margin-bottom-3 margin-bottom-md-0">
			<div class="Site-container h-100">
				<div class="row h-100">
					<div class="d-flex flex-column flex-md-row align-items-center">

						{%- if alert_message -%}
							<p class="text-align-center text-align-md-left margin-top-3 margin-top-md-0 margin-bottom-0">
								{{- alert_message -}}
							</p>
						{%- endif -%}

						{%- if phone_number -%}
							<a href="tel:{{ phone_number | replace ( { ' ' : '' } ) }}" class="margin-bottom-0 margin-right-md-3 margin-left-md-auto{{ alert_message ? '' : ' margin-top-3 margin-top-md-0' }}"><strong>{{- phone_number -}}</strong></a>
						{%- endif -%}

						{% include 'components/socials.html.twig' with { classes: [ phone_number ? false : [ 'margin-left-auto' ] ], feed: true } %}
					</div>
				</div>
			</div>
		</header>

		<div class="Hero">
			<div class="Site-container">
				<div class="row">
					<div>
						<a class="Hero__logo d-block js-baseline" href="{{ site.link }}" aria-label="{{ site.description }}">
							{{- include( 'svg/use.html.twig', { classes: [ 'position-relative vertical-align-middle d-inline-block' ], attributes: { height: '576px', width: '1296px' }, icon: 'logo' }, with_context = false ) -}}
						</a>
					</div>
				</div>
			</div>

			<footer class="Hero__footer">
				<div class="Site-container h-100">
					<div class="row h-100 d-flex align-items-end">
						<div class="order-2 order-md-1 col-12 offset-sm-1 offset-md-0 col-md-4{{ post.thumbnail ? ' margin-top-3 margin-top-md-0' }}">
							<h1 class="Page__title{{ post.get_field( 'hero' ).subtitle ? ' margin-0' : post.get_field( 'hero' ).introduction ? ' margin-bottom-5' : ' margin-0' -}}">{{- post.title -}}</h1>
							{{ post.get_field( 'hero' ).subtitle ? "<p class=\"Page__subtitle\">#{post.subtitle}</p>" }}

							{% if post.get_field( 'hero' ).introduction %}
								<div class="Page__introduction Wysiwyg">
									{{- post.get_field( 'hero' ).introduction | raw -}}
									{%- if phone_number and 'front-page' == namespace -%}
										<a href="tel:{{ phone_number | replace ( { ' ' : '' } ) }}">{{- __( 'Reservation at', 'ileauxpapilles' ) }} <strong>{{- phone_number -}}</strong></a>
									{%- endif -%}
								</div>


							{% endif %}


						</div>

						{% if post.thumbnail %}
							<div class="order-1 order-md-2 col-12 offset-md-1 col-md-7 h-100">
								{% include 'partials/image.html.twig' with { image: post.thumbnail, classes: [ 'Page__thumbnail' ] } %}
							</div>
						{% endif %}
					</div>
				</div>
			</footer>

			<div class="Site-container">
				<div class="row">
					<div>
						<hr class="Hero__horizontal-line">
					</div>
				</div>
			</div>
		</div>


		<main id="{{ post.id ? "page-#{post.id}" : 'page' }}" class="page-content Page-wrapper" data-node-type="{{ node_type | default( 'DefaultPage' ) }}">

			{{- 'front-page' == namespace ? modal -}}

			<div class="Site-container">
				<div class="row">
					<div class="col-md-10 offset-md-1 col-hd-7 offset-hd-5">
						{% include 'components/menu.html.twig' with { items: menus.menu.items, accordion: true, classes: [ 'Menu--header', 'flex-column flex-md-row' ] } %}
					</div>
				</div>
			</div>

