{#
 # Carousel
 #
 #
 #}
<div id="carousel" class="Carousel Section page-block" data-node-type="CarouselBlock">

	<div class="Site-container">
		<div class="row">
			<div class="col-12">
				<div class="Carousel__items js-items">
					{% for item in block.items %}
						<img
							class="Carousel__item js-item"
							loading="lazy"
							src="{{ Image( item ).src }}"
							alt="{{ Image( item ).alt }}"
							width="{{ Image( item ).width }}"
							height="{{ Image( item ).height }}"
							srcset="{{ Image( item ).srcset }}"
						>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
