{#
 # Image
 #
 # purgecss background-color-white
 #}
<div class="Image d-inline-block vertical-align-middle w-100 Section{{ block.background_color != 'transparent' ? " background-color-#{ block.background_color } padding-y-6" }}">
	<div class="Site-container">
		<div class="row">
			<div class="{{ block.size == 'l' ?  ' col-md-10 offset-md-1' }}{{ block.size == 'm' ? ' col-md-8 offset-md-2' }}{{ block.size == 's' ? ' col-md-6 offset-md-3' }}{{ block.size == 'xs' ? ' col-md-4 offset-md-4' }}">
				{% include 'partials/image.html.twig' with { image: block.image, classes: [ 'js-baseline' ] } %}
			</div>
		</div>
	</div>
</div>
