{#
 #
 # Gift coupon
 #
 #}
{% extends 'index.html.twig' %}

{% macro checkbox( id, label, name, value, price ) %}
	<div
		id="{{ id }}"
		tabindex="0"
		class="Checkbox d-flex align-items-center page-block"
		role="checkbox"
		aria-checked="false"
		data-node-type="CheckboxBlock"
	>
		<button class="position-relative" type="button" tabindex="-1" aria-label="{{ label }}"></button>
		<span class="d-flex flex-column flex-md-row w-100">
			{{- label -}}
			<span class="margin-left-md-auto white-space-nowrap">{{- price.label -}}</span>
		</span>
		<div class="d-none">
			<input id="{{ name }}" name="{{ name }}" data-price="{{ price.value }}" value="{{ value }}" type="checkbox">
		</div>
	</div>
{% endmacro %}

{% macro radio( checked, label, price, name, value ) %}
	<div class="Radio {{ checked ? ' is-selected' }}" aria-checked="{{ checked ? 'true' : 'false' }}" tabindex="{{ checked ? '0' : '-1' }}" role="radio">
		<span></span>
		<span class="d-flex flex-column flex-md-row w-100">
			{{- label -}}
			{{ price ? "<span class=\"margin-left-md-auto white-space-nowrap\">#{price.label}</span>" }}
		</span>
		<input id="{{ name }}[{{ value }}]" type="radio" name="{{ name }}" data-price="{{ price.value }}" value="{{ value }}"{{ checked ? ' checked' }} style="display: none;">
	</div>
{% endmacro %}

{% block content %}

	<div class="Page__content">
		<div class="Site-container">
			<div class="row">

				{% if coupon_fields.labels.aside %}
					<div class="col-md-3 offset-md-1">
						<div class="Wysiwyg">

							{% if coupon_fields.labels.introduction %}
								<p class="d-md-none">{{- coupon_fields.labels.introduction -}}</p>
							{% endif %}

							{{- coupon_fields.labels.aside -}}
						</div>
					</div>
				{% endif %}

				<div class="col-md-6{{ coupon_fields.labels.aside ? ' offset-md-1' : ' offset-md-5' }}">
					<form class="Form" action="" method="post">

						{% if coupon_fields.labels.introduction %}
							<div class="Form__group d-none d-md-block">
								<p>{{- coupon_fields.labels.introduction -}}</p>
							</div>
						{% endif %}

						{# From #}
						<div class="Form__group"><h3 class="Form__title">{{- coupon_fields.labels.from | default( _x( 'From…', 'gift coupon', 'ileauxpapilles' ) ) -}}</h3></div>
						<div class="Form__group">
							<input class="Input" id="last_name" type="text" name="last_name" required placeholder="{{ placeholders.last_name }} *" aria-label="{{  placeholders.last_name  }}">
						</div>
						<div class="Form__group">
							<input class="Input" id="first_names" type="text" name="first_names" required placeholder="{{ placeholders.first_names }} *" aria-label="{{ placeholders.first_names }}">
						</div>
						<div class="Form__group">
							<input class="Input" id="email" type="email" name="email" required placeholder="{{ placeholders.email }} *" aria-label="{{ placeholders.email }}">
						</div>
						<div class="Form__group">
							<input class="Input" id="address" type="text" name="address" required placeholder="{{ placeholders.address }} *" aria-label="{{ placeholders.address }}">
						</div>
						<div class="Form__group">
							<input class="Input" id="postal_code_city" type="text" name="postal_code_city" required placeholder="{{ placeholders.postal_code_and_city }} *" aria-label="{{ placeholders.postal_code_and_city }}">
						</div>

						{# To #}
						<div class="Form__group">
							<h3 class="Form__title">{{- coupon_fields.labels.to | default( _x( 'Gift card offered to…', 'gift coupon', 'ileauxpapilles' ) ) -}}</h3>
						</div>
						<div class="Form__group">
							<input class="Input" id="menu[names_first_names]" type="text" name="menu[names_first_names]" required placeholder="{{ placeholders.lastnames_and_firstnames }} *" aria-label="{{ placeholders.lastnames_and_firstnames }}">
						</div>

						{# Message #}
						<div class="Form__group">
							<textarea class="Textarea vertical-align-middle" name="your_personnalized_message" id="your_personnalized_message" placeholder="{{ placeholders.your_personnalized_message }}" aria-label="{{ placeholders.your_personnalized_message }}"></textarea>
						</div>

						{# Type #}
						<div class="Form__group">
							<h3 class="Form__title">{{- coupon_fields.labels.type | default( _x( 'I wish to receive the gift card:', 'gift coupon', 'ileauxpapilles' ) ) -}}</h3>
						</div>

						<div id="type" class="Form__group page-block margin-x-1 margin-x-md-3" role="radiogroup" data-node-type="RadioGroupBlock">
							{{- _self.radio( true, _x( 'by email (the voucher will be printed)', 'gift coupon', 'ileauxpapilles' ), false, 'type', 'email' ) -}}
							{# {{- _self.radio( false, _x( 'by mail', 'gift coupon', 'ileauxpapilles' ), false, 'type', 'mail' ) -}} #}
							{{- _self.radio( false, _x( 'pick in restaurant', 'gift coupon', 'ileauxpapilles' ), false, 'type', 'pick' ) -}}
						</div>

						{# Compose #}
						<div class="Form__group">
							<h3 class="Form__title">{{- coupon_fields.labels.compose | default( _x( 'I compose the gift card:', 'gift coupon', 'ileauxpapilles' ) ) -}}</h3>
						</div>

						<div class="Form__group">
							<div class="row align-items-center">
								<div class="col-4 col-md-2">
									<input id="menu-number" class="Input w-100 js-person" min="1" step="1" type="number" name="menu[number]" value="1" required>
								</div>
								<div class="col-8 col-md-10">
									<label for="menu-number">{{- _x( 'Number of people invited', 'gift coupon', 'ileauxpapilles' ) }}&nbsp;*</label>
								</div>
							</div>
						</div>

						<div class="js-template">
							<div class="Form__group Form__fieldset">
								<div id="menu_0" class="Form__group margin-bottom-3 page-block" role="radiogroup" data-node-type="RadioGroupBlock">
									{% for type in coupon_fields.type %}
										{{- _self.radio( loop.first, type.label, { label: type.price ~ ' €', value: type.price }, 'menu[type]', type.value ) -}}
									{% endfor %}
								</div>

								{% for field in coupon_fields.drinks %}
									<div class="Form__group">
										{{- _self.checkbox( field.value, field.label, 'menu[drinks][' ~ loop.index0 ~ ']', field.value, { label: field.price ~ _x( ' € / pers.', 'gift coupon', 'ileauxpapilles' ), value: field.price }) -}}
									</div>
								{% endfor %}

							</div>
						</div>

						<div class="Form__group">
							<div class="row align-items-center">
								<div class="col-6 col-md-2 offset-md-8 Form__total">{{ _x( 'Total', 'gift coupon', 'ileauxpapilles' ) }}</div>
								<div class="col-6 col-md-2 text-align-right"><span class="js-price"></span> €</div>
								<input class="js-total" type="hidden" name="total" value="">
							</div>
						</div>

						{# Clarification #}
						<div class="Form__group">
							<h3 class="Form__title">{{- coupon_fields.labels.clarification | default( _x( 'Additional details to your order:', 'gift coupon', 'ileauxpapilles' ) ) -}}</h3>
						</div>

						<div class="Form__group">
							<textarea class="Textarea vertical-align-middle" name="message" id="message" placeholder="{{ placeholders.your_message }}" aria-label="{{ placeholders.your_message }}"></textarea>
						</div>

						{% if coupon_fields.labels.legals %}
							<div class="Form__group Wysiwyg">{{- coupon_fields.labels.legals -}}</div>
						{% endif %}

						<div class="Form__group">
							<p class="Form__message Form__message--success">{{- coupon_fields.labels.success -}}</p>
						</div>

						<div class="Form__group margin-top-4">
							<div class="row align-items-center">
								<div class="col-md-4">
									<button class="Button w-100" type="submit">
										{{- _x( 'Send', 'gift coupon', 'ileauxpapilles' ) -}}
									</button>
								</div>
							</div>
						</div>

					</form>
				</div>

			</div>
		</div>
	</div>
{% endblock %}
