{#

Gift coupon

#}
{% extends 'index.html.twig' %}

{% macro checkbox( id, label, name, value, price ) %}
	<div id="{{ id }}" tabindex="0" class="Checkbox page-block " role="checkbox" aria-checked="false" data-node-type="CheckboxBlock">
		<button type="button" tabindex="-1"></button>
		<span class="d-flex flex-column flex-md-row w-100">
			{{- label -}}
			<span class="margin-left-md-auto white-space-nowrap">{{- price.label -}}</span>
		</span>
		<div class="d-none">
			<input id="{{ name }}" name="{{ name }}" data-price="{{ price.value }}" value="{{ value }}" type="checkbox">
		</div>
	</div>
{% endmacro %}

{% macro radio( checked, label, price, name, value ) %}
	<div class="Radio{{ checked ? ' is-selected' }}" aria-checked="{{ checked ? 'true' : 'false' }}" tabindex="{{ checked ? '0' : '-1' }}" role="radio">
		<span></span>
		<span class="d-flex flex-column flex-md-row w-100">
			{{- label -}}
			{{ price ? "<span class=\"margin-left-md-auto white-space-nowrap\">#{price.label}</span>" }}
		</span>
		<input id="{{ name }}[{{ value }}]" type="radio" name="{{ name }}" data-price="{{ price.value }}" value="{{ value }}"{{ checked ? ' checked' }} style="display: none;">
	</div>
{% endmacro %}

{% block content %}
	<div class="Page__content">
		<div class="Site-container">
			<div class="row">
				<div class="col-12 col-md-4 col-hd-3 offset-hd-1">
					<div class="Wysiwyg">
						<p class="d-md-none">En fonction de vos envies, de votre budget et des préférences de vos invités, composez votre carte cadeau sur-mesure et faîtes plaisir à vos invités !</p>
						<p>
						<strong>Comment commander une carte cadeau ?</strong><br>
						1 - Remplissez le formulaire ci-contre<br>
						2 - Recevez le mail de confirmation de commande avec les instructions de paiement<br>
						3 - Effectuer le paiement par chèque ou par virement<br>
						4 - Recevez votre carte cadeau, valable un an, à compter de la date d'achat
						</p>
					</div>
				</div>

				<div class="col-12 col-md-7 col-hd-6 offset-md-1">
					<form class="Form" action="" method="post">
						<div class="Form__group d-none d-md-block">
							<p>En fonction de vos envies, de votre budget et des préférences de vos invités, composez votre carte cadeau sur-mesure et faîtes plaisir à vos invités !</p>
						</div>
						<div class="Form__group"><h3 class="Form__title">De la part de…</h3></div>
						<div class="Form__group">
							<input class="Input" id="last_name" type="text" name="last_name" required placeholder="{{ placeholders.last_name }} *">
						</div>
						<div class="Form__group">
							<input class="Input" id="first_names" type="text" name="first_names" required placeholder="{{ placeholders.first_names }} *">
						</div>
						<div class="Form__group">
							<input class="Input" id="email" type="email" name="email" required placeholder="{{ placeholders.email }} *">
						</div>
						<div class="Form__group">
							<input class="Input" id="address" type="text" name="address" required placeholder="{{ placeholders.address }} *">
						</div>
						<div class="Form__group">
							<input class="Input" id="postal_code_city" type="text" name="postal_code_city" required placeholder="{{ placeholders.postal_code_and_city }} *">
						</div>
						<div class="Form__group">
							<h3 class="Form__title">{{- __( 'Gift card offered to…', 'delileauxpapilles' ) -}}</h3>
						</div>
						<div class="Form__group">
							<input class="Input" id="menu[names_first_names]" type="text" name="menu[names_first_names]" required placeholder="{{ placeholders.lastnames_and_firstnames }} *">
						</div>
						<div class="Form__group">
							<h3 class="Form__title">Je souhaite recevoir le bon cadeau :</h3>
						</div>

						<div id="type" class="Form__group page-block margin-left-3" role="radiogroup" data-node-type="RadioGroupBlock">
							{{- _self.radio( true, 'par mail (le bon sera à imprimer)', false, 'type', 'email' ) -}}
							{{- _self.radio( false, 'par courrier', false, 'type', 'mail' ) -}}
						</div>

						<div class="Form__group">
							<h3 class="Form__title">{{- __( 'I compose the gift card:', 'delileauxpapilles' ) -}}</h3>
						</div>

						<div class="Form__group">
							<div class="row align-items-center">
								<div class="col-4 col-md-2">
									<input id="menu-number" class="Input w-100 js-person" min="1" step="1" type="number" name="menu[number]" value="1" required>
								</div>
								<div class="col-8 col-md-10">
									<label for="number">{{- __( 'Number of people invited', 'delileauxpapilles' ) }}&nbsp;*</label>
								</div>
							</div>
						</div>

						<div class="js-template">
							<div class="Form__group Form__fieldset">
								<div id="menu_0" class="Form__group margin-bottom-3 page-block" role="radiogroup" data-node-type="RadioGroupBlock">
									{{- _self.radio( true, 'Menu dégustation (Entrée/Plat/Dessert)', { label: '36,50 €', value: 36.50 }, 'menu[type]', 'menu_degustation' ) -}}
									{{- _self.radio( false, 'Menu gourmand (Entrée/Plat/Fromage/Dessert)', { label: '41,50 €', value: 41.50 }, 'menu[type]', 'menu_gourmand' ) -}}
								</div>

								<div class="Form__group">
									{{- _self.checkbox('menu-cocktail-aperitif', 'Cocktail apéritif', 'menu[cocktail_aperitif]', 'cocktail_aperitif', { label: '8,50 € / pers.', value: 8.5 }) -}}
								</div>
								<div class="Form__group">
									{{- _self.checkbox('menu-champagne-brut-maison-piollot', 'Champagne brut « Maison Piollot »', 'menu[champagne_brut_maison_piollot]', 'champagne_brut_maison_piollot', { label: '11 € / pers.', value: 11 }) -}}
								</div>
								<div class="Form__group">
									{{- _self.checkbox('menu-verre-de-vin', 'Verre de vin', 'menu[verre_de_vin]', 'verre_de_vin', { label: '6,50 € / pers.', value: 6.5 }) -}}
								</div>
								<div class="Form__group">
									{{- _self.checkbox('menu-accord-mets-vins-2-verres-de-vin-1-boisson-chaude', 'Accord Mets/vins (2 verres de vin, 1 boisson chaude)', 'menu[accord_mets_vins_2_verres_de_vin_1_boisson_chaude]', 'accord_mets_vins_2_verres_de_vin_1_boisson_chaude', { label: '16 € / pers.', value: 16 }) -}}
								</div>
							</div>
						</div>

						<div class="Form__group">
							<div class="row align-items-center">
								<div class="col-6 col-md-2 offset-md-8 Form__total">{{ __( 'Total', 'delileauxpapilles' ) }}</div>
								<div class="col-6 col-md-2 text-align-right"><span class="js-price">36,50</span> €</div>
								<input class="js-total" type="hidden" name="total" value="36.50">
							</div>
						</div>

						<div class="Form__group">
							<h3 class="Form__title">Précisions complémentaires à votre commande :</h3>
						</div>

						<div class="Form__group">
							<textarea class="Textarea" name="message" id="message" placeholder="{{ placeholders.your_message }}"></textarea>
						</div>

						<div class="Form__group">
							<p>En envoyant ce formulaire vous acceptez que les informations saisies soient utilisées dans le cadre du traitement de votre demande de réservation et des échanges par e-mail, courrier postal ou téléphone qui peuvent en découler et vous prenez connaissance de notre politique de confidentialité

							<p><a class="text-decoration-underline" href="{{ legal_notice_permalink }}"><strong>Consultez notre politique de confidentialité.</strong></a></p>
						</div>

						<div class="Form__group">
							<p class="Form__message Form__message--success">
								Merci pour votre commande de carte-cadeau. C’est avec grand plaisir que nous accueillerons prochainement vos invités, à notre table. Pour valider votre commande, un email vous a été envoyé !
							</p>
						</div>

						<div class="Form__group margin-top-4">
							<div class="row align-items-center">
								<div class="col-12 col-md-4">
									<button class="Button w-100" type="submit">{{- __( 'Send', 'delileauxpapilles' ) -}}</button>
								</div>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
