{#
 #
 # Single: coupon
 #
 ‡#}
<!DOCTYPE html>
<!--[if IE 9]>
<html {{ html_class( 'ie9 no-js no-touch' ) }} {{ site.language_attributes }}>
<![endif]-->
<!--[if !(IE 9)]><!-->
<html {{ site.language_attributes }} {{ html_class( 'no-js no-touch' ) }}>
<!--<![endif]-->

	<head>

		<meta charset="{{ site.charset }}">
		<link rel="profile" href="http://gmpg.org/xfn/11">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">

		{{ wp_head }}

    </head>

	<body class="{{ body_class }}{{ body_classes ? ( ' ' ~ body_classes | join( ' ' ) ) }}">
		<div id="svg-sprite" class="d-none">{{- include( 'icons.svg' ) -}}</div>

		<main id="{{ post.id ? "page-#{post.id}" : 'page' }}" class="page-content Page-wrapper" data-node-type="{{ node_type | default( 'DefaultPage' ) }}">

			<header class="Single-coupon__header">
				<div class="Site-container">
					<div class="row d-flex align-items-center">
						<div class="col-3">
							<div class="Single-coupon__icon">
								{{- include( 'svg/use.html.twig', { icon: 'aperitif' } ) -}}
							</div>
						</div>
						<div class="col-6">
							<h2 class="Single-coupon__title">Bon cadeau<br>Repas au restaurant</h2>
						</div>
						<div class="col-3">
							<div class="Single-coupon__logo">
								{{- include( 'svg/use.html.twig', { icon: 'logo' } ) -}}
							</div>
						</div>
					</div>
				</div>
			</header>

			<div class="Single-coupon__from-to">
				<div class="Site-container">
					<div class="row">
						<div class="col-6">
							{{- __( 'For', 'ileauxpapilles' ) }} <strong>{{- post.get_field( 'menu' ).names_first_names -}}</strong>
						</div>
						<div class="col-6">
							De la part de <strong>{{- post.last_name }} {{ post.first_names -}}</strong>
							{{ post.get_field( 'menu' ).message ? "<br><br>#{post.get_field( 'menu' ).message}" }}
						</div>
					</div>
				</div>
			</div>

			<div class="Site-container"><div class="row"><div><hr class="Single-coupon__horizontal-line"></div></div></div>
			<div class="Single-coupon__content">
				<div class="Site-container">
					<div class="row">
						<div>
							<div class="color-cyan-dark-moderate">
								{# D’ici au {{ post.post_date | date_modify( '+6 month' ) | date( 'l j F Y' ) }}<br> #}
								Vous êtes invités à déguster un <strong>repas</strong> pour <strong>{{ post.get_field( 'menu' ).number }} {{ _n( 'personne', 'personnes', post.get_field( 'menu' ).number, 'ileauxpapilles' ) | format( post.get_field( 'menu' ).number ) }} :</strong><br>
								<br>
								<strong>{{ post.get_field( 'menu' ).type | map( type => type.label ) | join( ' ' ) -}}{{- post.get_field( 'menu' ).drinks ? '&nbsp;+&nbsp;' ~ post.get_field( 'menu' ).drinks | map( drink => drink.label ) | join( '&nbsp;+&nbsp;' ) -}}</strong><br>
								<br>
								au restaurant De l’île aux Papilles
							</div>
							<br><br>
							Bon cadeau valable jusqu’au <strong>{{ post.post_date | date_modify( '+6 month' ) | date( 'l j F Y' ) }}</strong><br>
							non échangeable et non remboursable.
							<br>
							<br>
							<em>Pensez à réserver !</em>
							<br>
							<em>{{ site.link | replace( { 'http://' : '' }, { 'https://' : '' } ) }} // {{ phone_number }}</em><br>
							<em>À l’angle de la place Camille Mémain à Saint-Pierre d’Oléron</em>
						</div>
					</div>

				</div>
			</div>
			<div class="Site-container"><div class="row"><div><hr class="Single-coupon__horizontal-line"></div></div></div>
		</main>

		{{ wp_footer }}

    </body>
</html>
